body {
    background-color: #ecf4f3;
    font-family: 'Montserrat', sans-serif;

}

#startBtn, #restartBtn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    text-align: center;
    padding: 5px;
    border: solid 5px #ff7e67;
    border-radius: 5px;
    background-color:#006a71;
    color: #ecf4f3;
}

h1 {
    color: #006a71;
    margin: auto;
    margin-top: 35px;
    width: 50%;
    text-align: center;
}

#name {
    color: #006a71;
    font-size: 50px;
}

form {
    color: #006a71;
    display: flex;
    margin: auto;
    width: 50%;
    justify-content: center;
    margin-top: 15px;
}

#p1, #p2 {
    padding: 10px;
}

input, #vs{
    height: 10%;
    margin: auto;
    margin-left: 5px;
    margin-right: 10px;
    text-align: center;
}


#gameboard {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px 200px;
    margin: auto;
    width: 50%;
    justify-content: center;
    margin-top: 25px;
}

.box {
    display: flex; 
    align-items: center;
    justify-content: center;
    background-color: #ecf4f3;
    height: 200px;
    width: 200px;
    border: solid 5px #006a71;
    text-align: center;
    font-size: 50px;
    color: #ff7e67;
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px;
}

.box0 {
    border-left-color: transparent;
    border-top-color: transparent;
}

.box1 {
    border-top-color: transparent;
}

.box2 {
    border-right-color: transparent;
    border-top-color: transparent;
}

.box3 {
    border-left-color: transparent;
}

.box5 {
    border-right-color: transparent;
}

.box6 {
    border-left-color: transparent;
    border-bottom-color: transparent;
}

.box7 {
    border-bottom-color: transparent;
}

.box8 {
    border-right-color: transparent;
    border-bottom-color: transparent;
}

.hidden {
    display: none !important;
}